{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    bands! Gimme a band name:
     <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.band_name.label }}<br>
            {{ form.band_name(cols=32, rows=4) }}<br>
            {% for error in form.band_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>

         {% for bands in all_bands %}
         <p> {{ all_bands.band_name }} </p>

         {% endfor %}
    </body>
    </html>

{% endblock %}
